body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.filter-buttons {
    text-align: center;
    margin: 20px 0;
}

.filter-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.filter-btn.active {
    background-color: red;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}